/*----------------------------------------------------------------*/
/* ------------------------ BASIC SETUP --------------------------*/
/*----------------------------------------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.wrapper {
    border: 2px solid black;
    background-color: white;
}

h1, 
h2,
p {
    margin-bottom: 10px;
}

/*----------------------------------------------------------------*/
/* ------------------------ HEADER -------------------------------*/
/*----------------------------------------------------------------*/

.intro-text {  
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: space-between;
}

.section {
    display: flex;
    justify-content: space-around;
}

.section-courses {
    margin-left: 30px;
}

.left {
    margin-right: 200px;
}

.right {
    margin-top: 35px;
}