/*-- blue: #10334a --*/

/*---------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #fff;
    font-family: montserrat, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 0.5px;
}

/*---------------------------------------------------*/
/* LAYOUT */
/*---------------------------------------------------*/

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/hero-image.png); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container > div {
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
}

/*---------------------------------------------------*/
/* HOME */
/*---------------------------------------------------*/


.home {
    height: auto;
    top: 0;
}

.hero-text {
    margin-top: 20px;
    padding-top: 10px;
    font-size: 250%;
}

.hero-text h1,
.hero-text h2 {
    font-weight: 300;
}

.hero-text > h2 {
    font-size: 30px;
    padding-bottom: 50px;
}

.intro-text {
    font-weight: 300;
    margin: auto;
    font-size: 18px;
    width: 600px;

}

/* ---------------------- NAVBAR ------------------------ */

.navbar {
    margin: auto;
    width: 100%;
}

.navbar ul {
    text-align: center;
    list-style: none;
    justify-content: center;
}

.navbar ul li {
    display: inline-block;
    margin: 25px;
    font-size: 25px;
}

.navbar ul li a:link,
.navbar ul li a:visited {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:hover,
.navbar ul li a:active {
    color: #0c4d6c;
    border: 1px solid #0c4d6c;
    border-radius: 5px;
    margin: -6px;
    padding: 5px;
}

/* ---------------------- ICONS ------------------------ */

.github,
.linkedin,
.resume {
    display: inline-block;
    font-size: 30px;
    letter-spacing: 1px;
    margin: 15px 5px;
    padding: 15px 5px;
    font-weight: 300;
}

.social-icons a {
    color: white;
    text-decoration: none;
}

.social-icons a:hover,
.social-icons a:active {
    color: #0c4d6c;
}

.social-icon-p {
    font-size: 15px;
}

.down-arrow {
    padding-top: 30px;
    height: 100px;
    
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-top: 125px;
    padding: 30px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow:hover,
.arrow:active {
    border: solid #0c4d6c;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*---------------------------------------------------*/
/* PROJECTS */
/*---------------------------------------------------*/

.div2 {
    background-color: blue;
    top: 100%; 
}

div.projects {
    margin: auto;
    height: 33.33%;
    width: 70%;
    border: 1px solid green;
    background-color: grey;
}

/*---------------------------------------------------*/
/* CONTACT */
/*---------------------------------------------------*/

.div3 {
    background-color: green;
    top: 110%; 
}