/*-- blue: #10334a --*/

/* --------- Default Elements --------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #fff;
    font-family: montserrat, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/hero-image.png); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* --------- Navigation --------- */

.navbar {
    margin: auto;
    width: 100%;
}

.navbar ul {
    text-align: center;
    list-style: none;
    justify-content: center;
}

.navbar ul li {
    display: inline-block;
    margin: 25px;
    font-size: 25px;
}

.navbar ul li a:link,
.navbar ul li a:visited {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:hover,
.navbar ul li a:active {
    color: #0c4d6c;
    border: 1px solid #0c4d6c;
    border-radius: 5px;
    margin: -6px;
    padding: 5px;
}

.social-icons a:hover,
.social-icons a:active {
    color: #0c4d6c;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    letter-spacing: 3px;
    word-spacing: 1.5px;
    margin-top: 100px;
    padding-top: 50px;
}

.hero-text h1,
.hero-text p {
    font-weight: 400;
}

.brief {
    font-size: 18px;
    width: 500px;
    padding-top: 15px;
}

/* --------- Icons --------- */

.social-icon-p {
    font-size: 15px;
}

.github,
.linkedin,
.resume {
    display: inline-block;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 15px 5px;
}

.social-icons a {
    color: white;
    text-decoration: none;
}

.down-arrow {
    padding-top: 30px;
    height: 100px;
    
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 30px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow:hover,
.arrow:active {
    border: solid #0c4d6c;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}