/*-- blue: #10334a --*/

/*---------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: montserrat, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
  
.section-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    width: inherit;
    height: inherit;
}

/*---------------------------------------------------*/
/* HOME font color is white and
 text align center if needed in html setting
 font size: 18px */
/*---------------------------------------------------*/

/* ------------ NAVBAR ------------ */

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;

}

.navbar li {
    padding: 20px;
}

/* ------------ NAVBAR END ------------ */

.home-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.home-content {
    flex: 1;
}


/* ------------ SOCIAL ICONS ------------ */
/* ------------ SOCIAL ICONS END ------------ */




/* 

.hero-text {
    margin-top: 20px;
    padding-top: 10px;
    font-size: 250%;
}

.hero-text h1,
.hero-text h2 {
    font-weight: 300;
}

.hero-text > h2 {
    font-size: 30px;
    padding-bottom: 50px;
}

.intro-text {
    font-weight: 300;
    margin: auto;
    font-size: 18px;
    width: 600px;

}

.navbar ul li {
    display: inline-block;
    margin: 25px;
    font-size: 25px;
}

.navbar ul li a:link,
.navbar ul li a:visited {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:hover,
.navbar ul li a:active {
    color: #0c4d6c;
    border: 1px solid #0c4d6c;
    border-radius: 5px;
    margin: -6px;
    padding: 5px;
}

PROJECTS
.github,
.linkedin,
.resume {
    display: inline-block;
    font-size: 30px;
    letter-spacing: 1px;
    margin: 15px 5px;
    padding: 15px 5px;
    font-weight: 300;
}

.social-icons a {
    color: white;
    text-decoration: none;
}

.social-icons a:hover,
.social-icons a:active {
    color: #0c4d6c;
}

.social-icon-p {
    font-size: 15px;
} 
.down-arrow {
    
    height: 100px;
    
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-top: 125px;
    padding: 30px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow:hover,
.arrow:active {
    border: solid #0c4d6c;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.body {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/hero-image.png); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
*/




