/* color: #0c4d6c; */

/* --------------------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-family: montserrat, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    background-color: black;
}

/*-----------------------------------------------*/
/* REUSABLE COMPONENTS */
/*-----------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* -------- HEADINGS -------- */

h1,
h2 {
    font-weight: 300;
    text-align: center;
}

h3,
h5 {
    margin-bottom: 10px;
    font-weight: 300;
}


h1 {
    font-size: 300%;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-top: 130px;
    margin-bottom: 0;
}

h4 {
    margin-bottom: 20px;
    font-weight: 300;
}

.label {
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-top: 10px;
}

/* -------- PARAGRAPHS -------- */

.long-copy {
    line-height: 145%;
    font-size: 95%;
    margin-top: 15px;
    text-align: center;
}

p {
    line-height: 120%;
    letter-spacing: 1px;
    word-spacing: 2px;
}

/* -------- BUTTONS -------- */

.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    margin-right: 20px;
    color: #fff;
    transition: background-color 0.3s;
}

.btn:hover,
.btn:active {
    background-color: #fff;
    color: #000;
}

.btn ion-icon {
    margin-right: 6px;
    line-height: 125%;
    vertical-align: middle;
    margin-top: -5px;
}

/*-----------------------------------------------*/
/* HEADER */
/*-----------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/hero-image.png);
    background-size: cover;
    background-position: center;
    height: 100vh;    
}

.main-nav {
    margin-top: 30px;
}

.social-icons {
    margin-top: 40px;
    font-size: 110%;
}

.main-nav,
.social-icons {
    list-style: none;
    text-align: center;
}

.main-nav li,
.social-icons li {
    display: inline-block;
    margin-right: 40px;
}

.main-nav li a:link,
.main-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
    text-decoration: none;
    color: #fff;
    transition: color 0.5s;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #c0c0c0;
}

.social-icons li a:link,
.social-icon li a:visited {
    font-size: 165%;
}

#resume,
#github,
#linkedin {
    transition: color 0.2s;
}

#resume:hover {
    color: #c0c0c0;
}

#github:hover {
    color: #c0c0c0;
}

#linkedin:hover {
    color: #c0c0c0;
}

/*-----------------------------------------------*/
/* SKILLS */
/*-----------------------------------------------*/

.skills {
    width: 1140px;
    list-style: none;
    text-align: center;
    overflow: hidden;
}

.skills li {
    display: inline-block;
    margin: 30px;
    font-size: 90px;
}

.skills img {
    width: 90px;
    border-radius: 50%;
}

/* -------- SKILL PALETTE AND CUSTOMIZATION -------- */

#html {
    color: #FF5733;
}

#css {
    color: #1572B6;
}

#javascript {
    color: #F7DF1E;
}

#sass {
    color: #c69;
}

#npm {
    color: #cb3837;
}

#react {
    color: #61dafb;
}

#bootstrap {
    background-color: #563d7c;
}

#webpack {
    background-color: #8DD3C7;
}

#jquery {
    background-color:  #0769AD;
}

#github {
    background-color: #0366D6;
}

#redux {
    background-color: #764ABC;
}

/*-----------------------------------------------*/
/* PROJECTS */
/*-----------------------------------------------*/

.portrait img {
    width: 500px;
    border: 2px solid white;
}

.heading-projects {
    font-size: 190%;
    margin-bottom: 40px;
}

.tech-box {
   height: 400px;
   font-size: 90%;
}

.tech-list {
    list-style: none;
}

.tech-list li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
}

/* --------------------------------------------------- */
/* CONTACT FORM */
/* --------------------------------------------------- */

