/* color: #d91903 */

/* --------------------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-size: 20px;
    font-weight: 300;
    font-family: montserrat, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    background-color: black;
}

/*-----------------------------------------------*/
/* REUSABLE COMPONENTS */
/*-----------------------------------------------*/

section {
    margin-bottom: 60px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* -------- HEADINGS -------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}

h1 {
    font-size: 300%;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-top: 130px;
    margin-bottom: 0;
}

h2 {
    margin-bottom: 40px;
    font-size: 190%;
    word-spacing: 2px;
    letter-spacing: 1.5px;
}

h5 {
    margin-bottom: 10px;
}

h3, h4 {
    margin-bottom: 10px;
}

.label {
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-top: 10px;
}

/* -------- LINKS -------- */

a {
    color: #ffffff;
}

/* -------- PARAGRAPHS -------- */

.long-copy {
    line-height: 150%;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 95%;
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
}

.about-me {
    text-align: justify;
}

/* -------- BUTTONS -------- */

.btn ion-icon {
    margin-right: 6px;
    line-height: 125%;
    vertical-align: middle;
    margin-top: -5px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    margin-right: 10px;
}

.active:link,
.active:visited{
    background-color: #d91903;
    border: 1px solid #d91903;
    transition: background-color 0.3s, border 0.2s, color 0.2s;
}

.active:hover,
.active:active {
    background-color: #941402;
    color: #ffffff !important;
}

.ghost:link,
.ghost:visited {
    border: 1px solid #d91903;
    color: #d91903;
}

.ghost:hover,
.ghost:active {
    background-color: #941402;
    color: #ffffff;
}

/*-----------------------------------------------*/
/* HEADER */
/*-----------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/hero-image.png);
    background-size: cover;
    background-position: center;
    height: 100vh;    
}

.main-nav {
    list-style: none;
    text-align: center;
    margin-top: 30px;
}

.social-icon-box {
    list-style: none;
    text-align: center;
    margin-top: 40px;
    font-size: 110%;
}

.main-nav li,
.social-icon-box li {
    display: inline-block;
    margin-right: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s, border 0.2s, color 0.2s;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
}


.social-icon-box li a:link,
.social-icon-box li a:visited {
    text-decoration: none;
    color: #fff;
    transition: color 0.5s;
    font-size: 170%;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #d91903;
}

.social-icon-box #resume,
.social-icon-box #github,
.social-icon-box #linkedin {
    transition: color 0.3s;
}

.social-icon-box #github {
    background-color: transparent;
}

.social-icon-box #resume:hover {
    color: #d91903;
}

.social-icon-box #github:hover {
    color: #0366D6;
}

.social-icon-box #linkedin:hover {
    color: #007bb5;
}

/*-----------------------------------------------*/
/* SKILLS */
/*-----------------------------------------------*/

.skills {
    width: 1140px;
    list-style: none;
    text-align: center;
    overflow: hidden;
}

.skills li {
    display: inline-block;
    margin: 0 30px;
    font-size: 90px;
}

.skills img {
    width: 90px;
    border-radius: 50%;
}

/* -------- SKILL COLOR PALETTE AND CUSTOMIZATION -------- */

#html {
    color: #FF5733;
}

#css {
    color: #1572B6;
}

#javascript {
    color: #F7DF1E;
}

#sass {
    color: #c69;
}

#npm {
    color: #cb3837;
}

#react {
    color: #61dafb;
}

#bootstrap {
    background-color: #563d7c;
}

#webpack {
    background-color: #8DD3C7;
}

#jquery {
    background-color:  #0769AD;
}

#github {
    background-color: #0366D6;
}

#redux {
    background-color: #764ABC;
}

/*-----------------------------------------------*/
/* PROJECTS */
/*-----------------------------------------------*/

.portrait img {
    width: 500px;
    border: 2px solid white;
}

.tech-box {
    font-size: 94%;
}

.tech-box p {
    text-align: justify;
    word-spacing: -0.5px;
    letter-spacing: 0.5px;
}

.tech-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #ffffff;
    margin-bottom: 10px;
}

.tech-list li {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
}

/* --------------------------------------------------- */
/* ABOUT ME */
/* --------------------------------------------------- */

.section-about {
    line-height: 145%;
    letter-spacing: 0.5px;
    color: #ffffff;
}

.about-me {
    width: 50%;
    font-size: 85%;
    font-weight: 200;
}

.about-me span {
    display: inline-block;
    margin-bottom: 15px;

}

/* --------------------------------------------------- */
/* CONTACT FORM */
/* --------------------------------------------------- */

.contact-form {
    width: 45%;
    margin: 0 auto;
    padding: 10px;
    color: #ffffff;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    margin: 5px 0;
    border-radius: 3px;
    border: 1px solid red;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}