/* color: #0c4d6c; */
/* --------------------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-size: 20px;
    font-weight: 300;
    font-family: montserrat, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}

/*-----------------------------------------------*/
/* REUSABLE COMPONENTS */
/*-----------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* -------- HEADINGS -------- */

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-size: 300%;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

h2 {
    letter-spacing: 2px;
    word-spacing:4px;
    margin-top: 10px;
}

/* -------- PARAGRAPHS -------- */

p {
    line-height: 145%;
    font-size: 95%;
    margin-top: 15px;
}

/*-----------------------------------------------*/
/* HEADER */
/*-----------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/hero-image.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    
}

.hero-text-box {
    margin-top: 100px;
    width: 1140px;
    color: #fff;
}

.main-nav {
    margin-top: 30px;
}

.social-icons {
    margin-top: 20px;
}

.main-nav,
.social-icons {
    list-style: none;
}

.main-nav li,
.social-icons li {
    display: inline-block;
    margin-right: 40px;
}

.main-nav li a:link,
.main-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
    text-decoration: none;
    color: #fff;
    transition: color 0.5s;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #c0c0c0;
}

.social-icons li a:link,
.social-icon li a:visited {
    font-size: 165%;
}

#resume,
#github,
#linkedin {
    transition: color 0.2s;
}

#resume:hover {
    color: #c0c0c0;
}

#github:hover {
    color: #c0c0c0;
}

#linkedin:hover {
    color: #c0c0c0;
}














/* --------------------------------------------------- */
/* PROJECTS  Work in progress*/
/* --------------------------------------------------- */
  
.project {
    display: flex;
    width: 60%;
    height: 50%;
    font-size: 75%;
    margin-bottom: 50px;
}
  
.box {
    display: flex;
    flex: 1;
}

.left {
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.project .left img {
    width: 100%;
    height: 100%;
}

.right {
    flex-direction: column;
}

.data {
    margin-bottom: 15px;
}

.about {
    flex: 3;
}

.tech-container {
    display: grid;
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: repeat(2, 1fr);  
    grid-gap: 10px;
    justify-content: center;
}
  
.tech {
    font-size: 70%;
    border: 2px solid #0c4d6c;
    padding: 5px;
}

.btn {
    display: inline-block;
    color: #fff;               
    text-decoration: none; 
    margin-right: 20px;     
    padding: 8px 10px;
    background-color: #0c4d6c; 
    border: 1px solid #0c4d6c;
    border-radius: 5px;  
}

/* --------------------------------------------------- */
/* CONTACT FORM  Work in progress*/
/* --------------------------------------------------- */
  
.contact-form-container {
    background-color: lightskyblue;
    width: 500px;
    height: 400px;
}

.contact-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 420%);
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.form-group input,
.form-group textarea {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.form-group textarea {
    resize: vertical;
}